* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

#nav>article {
    height: 100%;
    width: 80%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

#nav>article>.logo {
    height: 100%;
    width: 40%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
}

#nav>article>.logo>svg {
    width: 30%;
    fill: white;
}

#nav>article>.menu {
    height: 100%;
    width: 60%;
    /* background-color: red; */
}

#nav>article>.menu>ol {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

#nav>article>.menu>ol>li>a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}

#nav>article>.menu>ol>li>a:hover {
    color: rgb(25, 207, 25);
    cursor: pointer;
}

/* --------------nav ends-------- */


#homePage1 {
    height: 103vh;
    width: 100%;
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    justify-content: center;
    /* align-items: center; */
}

#homePage1>article {
    height: 90%;
    width: 90%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: end;
}

#homePage1>article>.text {
    height: 100%;
    width: 60%;
    /* background-color: yellow; */
}

#homePage1>article>.text>li {
    list-style: none;
    font-size: 540%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-left: 42px;

}

#homePage1>article>.text>button {
    height: 70px;
    width: 300px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 50px;
    background-color: white;
    border: none;
    font-size: 140%;
}

#homePage1>article>.text>button:hover {
    cursor: pointer;
    transform: scale(1.05);
}



#homePage1>article>.phone {
    height: 100%;
    width: 40%;
    /* background-color: blue; */
    /* display: flex;
    justify-content: center; */
}

#homePage1>article>.phone>div {
    height: 735px;
    width: 410px;
    border-radius: 35px 35px 0px 0px ;
    border: none;
    background-color: white;
    margin-top: 130px;
    margin-left: 175px;
    border: 1px solid transparent;
}

#homePage1>article>.phone>div>.speaker {
    height: 8px;
    width: 65px;
    margin-left: 42%;
    margin-top: 30px;
    border-radius: 20px;
    background-color: black;
    /* border: 1px solid transparent; */
}

#homePage1>article>.phone>div>.image {
    height: 666px;
    width: 385px;
    margin-top: 38px;
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: red; */
    background-image: url(./assets/img.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}


/* --------------wallapaper ends---------- */


#why {
    height: 96vh;
    width: 100%;
    /* background-color: yellow; */
    /* display: flex; */
    /* justify-content: center; */
    border: 1px solid transparent;
}

#why>article>.wh{
    height: 28vh;
    width: 100%;
    /* background-color: red; */
    border: 1px solid transparent;
}

#why>article>.wh>h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
    margin-left: 41%;
    font-weight: bolder;
    font-size: xxx-large;
}

#why>article>.circle{
height: 67vh;
width: 100%;
list-style: none;
/* background-color: red; */
display: flex;

} 
#why>article>.circle>.path>.one{
    height: 200px;
    width: 200px;
    margin-left: 17%;
    background-color: pink;
    border-radius: 50%;
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57);
    background-size: cover;
}

#why>article>.circle>.path>.two>h1{
text-align: center;
margin-left: 2px;
margin-right: 2px;
margin-top: 20px;
margin-bottom: 20px;
font-weight: bold;
}
#why>article>.circle>.path>.two>h5{
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
   
    }

#why>article>.circle>.path{
    height: 100%;
    width: 30%;
    margin-left: 10%;
    /* background-color: yellow; */
}

#why>article>.circle>.wick{
    height: 100%;
    width: 30%;
    margin-left: 4%;
    /* background-color: yellow; */
}
#why>article>.circle>.wick>.one1{
    height: 200px;
    width: 200px;
    margin-left: 17%;
    background-color: pink;
    border-radius: 50%;
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66);
    background-size: cover;
}

#why>article>.circle>.heart{
    height: 100%;
    width: 30%;
    margin-left: 4%;
    /* background-color: yellow; */
}

#why>article>.circle>.heart>.one2{
    height: 200px;
    width: 200px;
    margin-left: 17%;
    background-color: pink;
    border-radius: 50%;
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d);
    background-size: cover;
}

#why>article>.circle>.cur{
    height: 100%;
    width: 30%;
    margin-left: 4%;
    margin-right: 10%;
    /* background-color: yellow; */
}
#why>article>.circle>.cur>.one3{
    height: 200px;
    width: 200px;
    margin-left: 17%;
    background-color: pink;
    border-radius: 50%;
    background-image: url(https://i.scdn.co/image/ab671c3d0000f4309430062bc28461dc8fbde6bc);
    background-size: cover;
}


/* -------------------why ends-------- */

#blank {
    height: 88vh;
    width: 100%;
    background-color: rgb(155, 17, 219);
    /* display: flex; */
    border: 1px solid transparent;
    /* font-family: Arial, Helvetica, sans-serif; */


}

/* #blank>.circle>.fa-solid{
    height: 150px;
    width: 150px;
    background-color: red;
} */

#blank>#a {
    margin-left: 780px;
    margin-top: 290px;
    font-size: 415%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#blank>#b {
    margin-left: 540px;
    margin-top: 8px;
    font-size: 415%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* ------------------blank ends -------- */

#que {
    height: 105vh;
    width: 100%;
    border: 1px solid transparent;
    display: flex;
    list-style: none;


}

#que>article>.got {
    margin-left: 695px;
    margin-top: 115px;
    font-size: 340%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

#que>article>.lists {
    margin-left: 105px;
    margin-top: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 680;
}

#que>article>.lists>li {
    margin-top: 80px;
}


/* ----------------------------
 */

 #ready{
    height: 70vh;
    width: 100%;
    background:url(https://www.scdn.co/i/free/lets-play.svg) center center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224);
    border: 1px solid transparent;
 }

 #ready>article{
    
    
 }
 #ready>article>button {
    height: 66px;
    width: 280px;
    margin-top: 40px;
    margin-left: 43%;
    border-radius: 50px;
    background-color: white;
    border: none;
    font-size: 130%;
    font-weight: bold;
}

#ready>article>button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#ready>article>h1{
    margin-top: 10%;
    margin-left: 27%;
    font-size: 620%;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* --------------------------
 */


 #footer{
    height: 90vh;
    width: 100%;
    background-color: black;
    border: 1px solid transparent;

 }

 #footer>article{
    display: flex;
    /* list-style: none; */
    border: 1px solid transparent;
 }
 #footer>article>.firstphase{
    height: 60vh;
    width: 60%;
    margin-top: 100px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    list-style: none;
    /* font-size: medium; */
    /* font-weight: bold; */
    border: 1px solid transparent;
   

 }

 #footer>article>.secphase{
    height: 60vh;
    width: 40%;
    margin-top: 100px;
    background-color:pink;
 }
 #footer>article>.firstphase>li{
    height: 60vh;
    width: 25%;
    margin-right: 10px;
    /* background-color: red; */
    border: 1px solid transparent;
 }
 #footer>article>.firstphase>.company>h3{
    margin-left: 60px;
    text-align: left;
    color: white;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
 }

 #footer>article>.firstphase>.commu>h3{
    margin-left: 60px;
    text-align: left;
    color: white;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
 }

 #footer>article>.firstphase>.use>h3{
    margin-left: 60px;
    text-align: left;
    color: white;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
 }

 #footer>article>.firstphase>.commu>h3>li{
    color: grey;
 }

 #footer>article>.firstphase>.company>h3>li{
    color: grey;
 }

 #footer>article>.firstphase>.use>h3>li{
color: grey;
 }
 #footer>article>.firstphase>.spotifylogo>div>svg{
    fill: white;
  
 }

 /* section>article>div>.secphase>i {
    height: 10px;
    width: 10px;
   
}

section>article>.secphase>.fa-facebook {
    color: blue;
}

section>article>.secphase>.fa-square-x-twitter {
    color: black;
}

section>article>.secphase>.fa-telegram {
    color: rgb(3, 181, 252);
}  */




 